<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profit Prediction</title>
</head>

<body>
    <h1>Web app to predict profit</h1>
    <form action="/login" method="post">

        <p>R&D Spend</p>
        <p><input type="text" name="rd"></p>

        <p>Administration</p>
        <p><input type="text" name="ad"></p>

        <p>Marketing Spend</p>
        <p><input type="text" name="ms"></p>

        <label for="states">Choose State</label>
        <select name="s" >
            <option value="cal">california</option>
            <option value="flo">florida</option>
            <option value="ny">new york</option>
        </select>

        <p><input type="submit" value="submit"/></p>

        <h2><b>{{y}}</b></h2>
    </form>
</body>

</html>